dash==2.17.1
numpy==2.0.1
pandas==2.2.2
scipy==1.14.0
sympy==1.13.2
dash-dangerously-set-inner-html==0.0.2
antlr4-python3-runtime==4.11
dash-mantine-components==0.14.4
dash-iconify==0.1.2
array-to-latex==0.92
gunicorn