<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Soluções Inovadoras landing page.">
    <meta name="author" content="Devcrud">
    <title>Portifólio | João Natividade</title>
    <link rel="icon" href="/static/fotos_site/icon.png" type="image/x-icon">
    <!-- font icons -->
    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="static/css/meyawo.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">Soluções Inovadoras</a>         
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Inicio</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">Sobre</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portfólio</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contatos</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>          
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Olá Mundo!</span>
                <span class="down">Sou o João Natividade</span>
            </h1>
            <p class="header-subtitle">Engenheiro da Computação</p>            

            <a href="https://github.com/joaosnet"><button class="btn btn-primary">Veja o que estou construindo</button></a>
        </div>              
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="static/imgs/man1.png" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Quem sou eu ?</p>
                    <h2 class="section-title mb-3">Sobre mim</h2>
                    <p>
                        Olá, sou João Natividade, um alquimista digital apaixonado por transformar linhas de código em soluções inovadoras. 👨‍💻
                        <br>💼 Atualmente, desbravo os territórios do desenvolvimento Python em projetos freelance, explorando o universo das possibilidades tecnológicas com 8 meses de experiência e contando. Minhas criações não seguem apenas lógica de programação, mas uma dança entre eficiência e robustez.
                        <br>🚀 Estou sempre em busca de desafios que incendeiem a imaginação e oportunidades para colaborar. Seja para discutir projetos inovadores, compartilhar conhecimentos ou simplesmente trocar ideias, estou aqui para conectar e construir algo incrível juntos!
                        <br>🌍 "A educação é a chave para transformar sonhos em resultados reais." Essa é a filosofia que guia meu caminho, e estou ansioso para continuar aprendendo, inovando e deixando minha marca no universo tecnológico.
                    </p>
                    <a href="https://drive.usercontent.google.com/download?id=1wLb5CNEc_Lm2_U5nAkSf7ZI6ekpeOpWv&export=download&authuser=0"><button class="btn-rounded btn btn-outline-primary mt-4">Baixe Meu CV</button></a>
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">O que eu faço ?</p>
            <h6 class="section-title mb-6">Serviços</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/pencil-case.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page" class="icon">
                            <h6 class="title">Software</h6>
                            <p class="subtitle">Transformo ideias em soluções de software customizadas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/responsive.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page" class="icon">
                            <h6 class="title">IA</h6>
                            <p class="subtitle">Ofereço orientação especializada em implementar soluções de inteligência artificial.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/toolbox.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page" class="icon">
                            <h6 class="title">Python</h6>
                            <p class="subtitle">Ministro cursos e treinamentos especializados para desenvolvedores iniciantes e avançados que desejam aprimorar suas habilidades em Python.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/analytics.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page" class="icon">
                            <h6 class="title">Dashboards</h6>
                            <p class="subtitle">Crio dashboards customizados para ajudar na tomada de decisões importantes.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">O que eu fiz ?</p>
            <h6 class="section-title mb-6">Portfolio</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="/dash/" class="portfolio-card">
                        <img src="static/imgs/folio-1.jpg" class="portfolio-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Roda da Vida</h5>
                                <p class="font-weight-normal">Categoria: DashBoard Interativo</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/previsao" class="portfolio-card">
                        <img class="portfolio-card-img" src="static/imgs/folio-2.jpg" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Site de Previsão de Preços Airbnb</h5>
                                <p class="font-weight-normal">Categoria: Modelagem e Processamento de Dados</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://github.com/joaosnet/ArduinoSinaisEletricos" class="portfolio-card">
                        <img class="portfolio-card-img" src="static/imgs/folio-3.jpg" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Soluções Inovadoras Landing page">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Captura de Sinais Elétricos com Arduino</h5>
                                <p class="font-weight-normal">Categoria: Processamento de Sinais</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <section class="section" id="pricing">
        <div class="container text-center">
            <p class="section-subtitle">Quanto eu cobro?</p>
            <h6 class="section-title mb-6">Meu preço</h6>
            <!-- row -->
            <div class="pricing-wrapper">
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="static/imgs/scooter.svg" alt="Ícone de Gratuito">
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">Básico</h6>
                        <div class="pricing-card-list">
                            <p>Desenvolvimento de Software Personalizado</p>
                            <p>Consultoria em Inteligência Artificial</p>
                            <p>Treinamento em Desenvolvimento Python</p>
                            <p>Serviços de Otimização e Resolução de Problemas</p>
                            <p><i class="ti-close"></i></p>
                            <p><i class="ti-close"></i></p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>R$</span>
                        <span>1.000,00/Mês</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Contratar</a>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="static/imgs/shipped.svg" alt="Ícone de Básico">
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">Intermediário</h6>
                        <div class="pricing-card-list">
                            <p>Desenvolvimento de Software Personalizado</p>
                            <p>Consultoria em Inteligência Artificial</p>
                            <p>Treinamento em Desenvolvimento Python</p>
                            <p>Serviços de Otimização e Resolução de Problemas</p>
                            <p>Assistência Técnica</p>
                            <p><i class="ti-close"></i></p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>R$</span>
                        <span>1.499,99/Mês</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Contratar</a>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="static/imgs/startup.svg" alt="Ícone de Premium">
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">Premium</h6>
                        <div class="pricing-card-list">
                            <p>Desenvolvimento de Software Personalizado</p>
                            <p>Consultoria em Inteligência Artificial</p>
                            <p>Treinamento em Desenvolvimento Python</p>
                            <p>Serviços de Otimização e Resolução de Problemas</p>
                            <p>Assistência Técnica</p>
                            <p>Atendimento Prioritário</p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>R$</span>
                        <span>1.999,99/Mês</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Contratar</a>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of pricing section -->
    

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Quer trabalhar comigo?</h6>
                    <p class="m-0 text-light">Sinta-se sempre à vontade para entrar em contato e me contratar</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <button class="btn btn-lg my-font btn-light rounded">Contrate-me</button>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->


    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">Como você pode se comunicar?</p>
            <h6 class="section-title mb-5">Contate-me</h6>
            <!-- contact form -->
            <form action="" class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="text" size="50" class="form-control" placeholder="Seu Nome" required>                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" placeholder="Coloque seu e-mail"requried>                 
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Escreva Alguma Coisa"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Mande Mensagem" class="btn btn-outline-primary rounded">                  
                    </div>
                </div>  
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section><!-- end of contact section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">       
            <!-- <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a></p> -->
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.facebook.com/Joao.da.cruz.neto.456/" class="link"><i class="ti-facebook"></i></a>
                <a href="https://linkedin.com/in/joaonativi" class="link"><i class="ti-linkedin"></i></a>
                <a href="https://www.solucoesinovadora.com/" class="link"><i class="ti-face-smile"></i></a>
                <a href="https://www.instagram.com/jaonativi/" class="link"><i class="ti-instagram"></i></a>
                <a href="https://github.com/joaosnet" class="link"><i class="ti-github"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="static/js/meyawo.js"></script>

</body>
</html>
